[Unit]
Description=Start Prometheus as systemd service
After=docker.service
Requires=docker.service
[Service]
ExecStartPre=-/usr/bin/docker rm {{ prometheus_cont_name }}
ExecStart=/usr/bin/docker run --rm \
--name {{ prometheus_cont_name }} \
-p {{ prometheus_port }}:{{ prometheus_port }} \
-v {{ prometheus_host_data_dir }}:/etc/prometheus \
-v prom/prometheus \
{{ prometheus_docker_image }}
ExecStop=/usr/bin/docker stop {{ prometheus_cont_name }}
[Install]
WantedBy=multi-user.target
