[Unit]
Description=Start Cadvisor as systemd service
[Service]
#ExecStartPre=-/usr/bin/docker rm {{ cadvisor_cont_name }}
ExecStart=/usr/bin/docker run --rm \
          --name {{ cadvisor_cont_name }} \
          -p {{ cadvisor_port }}:{{ cadvisor_port }} \
          --device /dev/kmsg:/dev/kmsg \
          -v /:/rootfs:ro \
          -v /var/run:/var/run:ro \
          -v /sys:/sys:ro \
          -v /var/lib/docker:/var/lib/docker:ro \
          {{ cadvisor_docker_image }}
ExecStop=/usr/bin/docker stop -t 5 {{ cadvisor_cont_name }}
[Install]
WantedBy=multi-user.target


